@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html{
  min-height: 100%;
}

body{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  background: rgb(43, 39, 39);
}

main{
  height: 100%;
}

.entrevistas{
  height: 100%;
}

header{
  height: 90px;
  max-width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(29, 26, 26);
  padding: 10px;
  z-index: 1;

}

header h1{
  width: 33%;
}

header h1 > a{
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  color: rgb(160, 7, 7);
}

header ul{
  width: 60%;
  list-style-type: none;
  font-family: 'Monoton', cursive;
  border: 0;
  text-align: right;
  
}

a{
  text-decoration: none;
  color: whitesmoke;
}

main{
  top: 105px;
  width: 100%;
  color: whitesmoke;
  font-size: 0.75rem;
  margin: 10px auto;
  justify-content: space-around;
}

img{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

  }

figcaption{
  font-size: 1.5rem;
}

div{
  padding: 20px;
}

p{
  flex-wrap: wrap;
  text-align: justify;
  font-size: 1.2rem;
}

.meuId{
  font-family: 'Pacifico', cursive;
}

iframe{
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
}


select{
  overflow: hidden;
  border-radius: 5px;
}

@media(min-width: 768px){ 

  header ul{
    margin-right: 10px; 
    display: inline;
    padding: 5px;
  }

  li{
    margin-right: 10px;
    display: inline;
  }

  img{
    height: auto;
    width: 200;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  } 

  .home{
    display: flex;
    font-family: 'Pacifico', cursive;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .meuEmoji{
    height: 100%;
    width: auto;
  }


  figcaption{
    font-size: 2rem;
  }

  
}